<div class="row">
  <div class="col-sm-3">

      <div class="card text-center h-100">
        <img src="./assets/images/ambiental.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Medio Ambiente</h5>
          <br>
          <a href="ambiental" class="btn btn-primary button-shadow" style="background: #6ADECB; border: none;">Actividades</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center h-100">
        <img src="./assets/images/hidricos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Recursos Hídricos</h5>
          <br>
          <a href="hidricas" class="btn btn-primary button-shadow" style="background:#2395E2; border: none;">Actividades</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
    <div class="card text-center h-100">
        <img src="./assets/images/informàtica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Informática</h5>
        <br>
        <a href="informatica" class="btn btn-primary button-shadow" style="background: #C844E0; border: none;">Actividades</a>
        </div>
    </div>
    </div>
    
    <div class="col-sm-3">
    <div class="card text-center h-100">
        <img src="./assets/images/cartografia-agrimensura.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Cartografía y Agrimensura</h5>
        <br>
        <a href="agrimensura" class="btn btn-primary button-shadow" style="background: #FFC501; border: none;"> Actividades</a>
        </div>
    </div>
    </div>
  </div>
