<div class="row">
    <div class="col-sm-3">

      <div class="card text-center" >
        <img src="../../../assets/images/ambiental.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary" style="background: #6ADECB; border: none;">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center">
        <img src="../../../assets/images/hidricos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary" style="background:#2395E2; border: none;">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
    <div class="card text-center">
        <img src="../../../assets/images/informàtica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background: #C844E0; border: none;">Go somewhere</a>
        </div>
    </div>
    </div>
    
    <div class="col-sm-3">
    <div class="card text-center">
        <img src="../../../assets/images/cartografia-agrimensura.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background: #FFC501; border: none;"> Go somewhere</a>
        </div>
    </div>
    </div>
  </div>