<div class="footer-clean" style="background: #434343; margin-top: 1.5rem;">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6" style="padding-left: 5rem;">
                    <img src="./assets/images/FICH_isologo.png" width="30%">
                </div>
                <div class="col-sm-6 item social" >
                    <a href="https://www.facebook.com/fich.santafe.unl"><i class="icon fab fa-facebook"></i></a>
                    <a href="https://twitter.com/cientifich"><i class="icon fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/fichunl/"><i class="icon fab fa-instagram"></i></a>
                    <p style=" text-align: right; margin-top: 1rem; font-size: 12px;" class="text-any">© 2021 FICH | UNIVERSIDAD NACIONAL DEL LITORAL<br>
                    Ciudad Universitaria. S3000. Santa Fe - +54 342 4575233</p>           
                </div>
            </div>
        </div>
    </footer>
</div>
