<!--<nav class="navbar">
    <div class="container-fluid">
        <div class="col-12 text-center" style="padding: 10px; text-align: left;">
            <h4 class="title"> Jornadas de Puertas Abiertas FICH-UNL</h4>
        </div>        
    </div>
</nav>-->


<div class="header" style="padding-left: 1rem; padding-right: 1rem;">
    <!--<a href="#default" class="logo">CompanyLogo</a>-->
    <a class="logo"><h4 class="title"> Jornadas de Puertas Abiertas FICH-UNL</h4></a>
    <div class="header-right">
      <a class="btn btn-outline-primary text-any" href="#home">Home</a>
    </div>
  </div>