
<div class="container text-center" *ngIf="activitySelected == null" style="padding:0px;">
    <embed src="https://sinc.unl.edu.ar/recorrido/medio_ambiente/app-files/index.html" class="recorrido">
<br>
<div class="buttons">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div *ngFor="let item of agrimensura">
            <button type="button" class="btn btn-outline-primary" (click)="selectedActivity(item)">{{item.nombre}}</button>
        </div>
    </div>
    </div>
</div>

<div *ngIf="activitySelected != null" class="col-12" style="padding: 0px;">
    <div style="background-color:#FFC501; height: 150px;">
        <div class="activity" style="color: white;">
            <h3 class="text-title-area text-center">{{activitySelected?.nombre}}</h3>
            <h4 class="text-center">Cartografía y Agrimensura</h4>
        </div>
    </div>
    <br/>

    <div *ngIf="activitySelected?.videoUrl != null">
        <div class="col-12 text-center" style="padding:0px;">
             <iframe [src]="videoUrl" class="videos" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 

    <br>

    <div class="col-12 text-any">
        <div *ngIf="activitySelected?.texto1 != null">
            <p> {{activitySelected?.texto1}}</p>
        </div>
        <div *ngIf="activitySelected?.texto2 != null">
            <p> {{activitySelected?.texto2}}</p>
        </div>
    </div>

    <div *ngIf="activitySelected?.img != null;" class="text-center">      
        <div *ngFor="let img of activitySelected?.img;  let i = index;" style="margin: 10px;">
                <img [src]="img" style="width: 50%;">      
        </div>
    </div>
    <br>
    <div *ngIf="activitySelected?.url != null">
        <div class="col-12 text-center">
             <iframe [src]="urlSafe" width="700" height="500" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 
</div>
<br>
<br>