
<div class="container text-center" *ngIf="activitySelected == null" style="padding:0px;">
    <embed src="https://sinc.unl.edu.ar/recorrido/medio_ambiente/app-files/index.html" class="recorrido">
<br>
<div class="buttons">
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <div *ngFor="let item of agrimensura">
            <a class="btn btn-primary button-shadow" style="background: #F1C40F; border: none;" (click)="selectedActivity(item)">{{item.nombre}}</a>
        </div>
    </div>
    </div>
</div>
<br>
<div *ngIf="activitySelected != null" class="col-12" style="padding: 0px;">
    <div style="background-color:#FFC501; height: 150px;">
        <div class="activity text-center" style="color: white;">
            <h3 class="text-title-area text-center">{{activitySelected?.nombre}}</h3>
            <h4 class="text-center" style="margin-bottom:15px;">Cartografía y Agrimensura</h4>
            <a href="agrimensura" style="color: white;" class="text-any"><i class="fa fa-undo"></i> Volver a las actividades...</a>
        </div>
    </div>
    <br/>

    <div *ngIf="activitySelected?.videoUrl != null">
        <div class="col-12 text-center" style="padding:0px;">
             <iframe [src]="videoUrl" class="videos" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 

    <br>
    <div *ngIf="activitySelected?.img != null;" class="text-center">      
        <div *ngFor="let img of activitySelected?.img;  let i = index;" style="margin: 10px;">
                <img [src]="img" style="width: 50%;">      
        </div>
    </div>
    <br>

    <div class="col-12 text-any text-center" style="padding-right: 2rem; padding-left: 2rem;">
        <div *ngIf="activitySelected?.texto1 != null">
            <h4 class="text-title-area" style="color:#FFC501;">{{activitySelected?.titulo1}}</h4>
            <p> {{activitySelected?.texto1}}</p>
        </div>
        <div *ngIf="activitySelected?.texto2 != null">
            <h4 class="text-title-area" style="color:#FFC501;">Objetivos</h4>
            <p> {{activitySelected?.texto2}}</p>
        </div>
    </div>


    <br>
    <div *ngIf="activitySelected?.url != null">
        <div class="col-12 text-center">
             <iframe [src]="urlSafe" width="700" height="500" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 
</div>
<br>
<br>