.img-logo{
    width: 100%;
    height: 100%;
}

.title{
    color: #369FF6;
    font-family: "Poppins-black";
}
.recorrido{
    width: 1024px;
    height: 640px;
}

@media screen and (max-width: 600px) { 
    .recorrido { 
        width: 340px;
        height: 213px;
    }
}

.button-shadow{
    box-shadow: 2px 2px 2px #9E9E9E;
}
