<img class="img-logo" src="./assets/images/web-header.jpg">
<br/>
<br/>

<div class="text-center" style="margin-top: 1rem; margin-bottom: 1rem;">
<h4 class="title">¿A dónde vamos?</h4>
<h5 class="text-any text-center">Conocé la FICH en 360º</h5>
    <embed src="https://sinc.unl.edu.ar/recorrido/fachada_fich/app-files/index.html" class="recorrido">
</div>
<br/>
<div class="container" style="text-align: center; margin-top: 1rem; width: 70%;">
    <h4 class="title">Sobre la FICH</h4>
    <p class="text-any">
    La Facultad de Ingeniería y Ciencias Hídricas (FICH), perteneciente a la Universidad Nacional del Litoral, se constituye en el año 1985 a partir del Departamento de Hidrología General y Aplicada, creado en 1970.
    Su tarea principal es la formación de recursos humanos especializados en disciplinas ligadas a los recursos naturales y a la informática. La facultad desarrolla también una intensa actividad de investigación, de extensión y de transferencia de conocimientos al medio social y productivo, y a diferentes organismos municipales, provinciales y nacionales.
    La Jornada de Puertas Abiertas es organizada por la FICH para mostrar a escuelas primarias y secundarias de la ciudad y la región -a través de una propuesta lúdica e interactiva- diferentes actividades que lleva adelante la facultad en las distintas disciplinas: recursos hídricos, ambiente, informática, cartografía y agrimensura.
    </p>
</div>
<br/>
<div class="container" style="background-color: #f5f5f5f5; padding-top: 15px;">
    <div class="title text-center">
        <h3>¡A experimentar!</h3>
    </div>
    <div style="padding-bottom: 15px; padding-top: 15px;">
        <app-carousel></app-carousel>
    </div>
</div>
