<img class="img-logo" src="../../../assets/images/web-header.jpg">
<div class="container" style="text-align: center;">
    <h4 class="text-title">Sobre la FICH</h4>
    <p class="text-any">
    La Facultad de Ingeniería y Ciencias Hídricas (FICH), perteneciente a la Universidad Nacional del Litoral, se constituye en el año 1985 a partir del Departamento de Hidrología General y Aplicada, creado en 1970.
    Su tarea principal es la formación de recursos humanos especializados en disciplinas ligadas a los recursos naturales y a la informática. La facultad desarrolla también una intensa actividad de investigación, de extensión y de transferencia de conocimientos al medio social y productivo, y a diferentes organismos municipales, provinciales y nacionales.
    La Jornada de Puertas Abiertas es organizada por la FICH para mostrar a escuelas primarias y secundarias de la ciudad y la región -a través de una propuesta lúdica e interactiva- diferentes actividades que lleva adelante la facultad en las distintas disciplinas: recursos hídricos, ambiente, informática, cartografía y agrimensura.
    </p>

</div>
<app-carousel></app-carousel>
