<div class="col-12 text-center" *ngIf="activitySelected == null" style="padding: 0px; margin: 0px;">
    <embed src="https://sinc.unl.edu.ar/recorrido/informatica/app-files/index.html" class="recorrido">
<div class="buttons">
    <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <div *ngFor="let item of informatica">
                <a class="btn btn-primary button-shadow" style="background: #C844E0; border: none;" (click)="selectedActivity(item)">{{item.nombre}}</a>
            </div>
        </div>
    </div>
</div>
<br>
<div *ngIf="activitySelected != null" class="col-12" style="padding: 0px;">
    <div style="background-color:#C844E0; height: 150px;">
        <div class="activity" style="color: white;">
            <h3 class="text-title-area">{{activitySelected?.nombre}}</h3>
            <h4 class="text-center">Informática</h4>
        </div>
    </div>
    <br/>

    <div *ngIf="activitySelected?.videoUrl != null">
        <div class="col-12 text-center" style="padding: 0px;">
             <iframe [src]="videoUrl" class="videos" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <div class="col-12 text-any">
        <div *ngIf="activitySelected?.texto1 != null">
            <p> {{activitySelected?.texto1}}</p>
        </div>
        <div *ngIf="activitySelected?.texto2 != null">
            <p> {{activitySelected?.texto2}}</p>
        </div>
    </div>

    <div *ngIf="activitySelected?.url != null">
        <div class="col-12 text-center">
             <iframe [src]="urlSafe" width="700" height="500" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 

</div>