<div  class="col-12">
<TABLE CELLPADDING=7 CELLSPACING=0>
	<COL>
	<TR>
		<TD HEIGHT=244 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #ffffff; padding: 0.07in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">Pasos
			para instalar y usar la aplicación:</SPAN></FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<OL>
				<LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">Descarga
				la aplicación desde el enlace que figura al final de la página.
				Para ejecutar el instalador, simplemente debes darle </SPAN></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><I><SPAN STYLE="background: #ffffff">clic</SPAN></I></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">.</SPAN></FONT></FONT></P>
			</OL>
			<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
			</P>
			<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><I><B><SPAN STYLE="background: #ffffff">Aclaración</SPAN></B></I></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">:
			Cuando intentes instalarla es posible que el teléfono te solicite
			&quot;</SPAN></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><I><SPAN STYLE="background: #ffffff">habilitar
			la instalación desde fuentes desconocidas</SPAN></I></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">&quot;.
			¿Qué significa que la aplicación sea de &quot;origen
			desconocido&quot;? Esto significa que no está verificada ni es
			distribuida a través de Google Play. No es peligrosa, simplemente
			no está supervisada ​​ni está vinculada a Google.</SPAN></FONT></FONT></P>
			<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">De
			manera predeterminada, tu dispositivo Android no permite la
			instalación de aplicaciones distribuidas fuera de sus tiendas
			autorizadas. Si es así, sigue los pasos que te indica para poder
			continuar con la instalación de la aplicación.</SPAN></FONT></FONT></P>
			<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
			</P>
			<OL START=2>
				<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
				<FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">Descarga
				las tarjetas desde el enlace que figura al final de la página.
				Es recomendable que imprimas las tarjetas para luego utilizarlas
				con la aplicación. Puedes probar primero abrir el documento en
				la computadora y tratar de levantar las imágenes desde la
				pantalla.</SPAN></FONT></FONT></P>
			</OL>
			<P ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
			<BR>
			</P>
			<OL START=3>
				<LI><P ALIGN=LEFT STYLE="background: #ffffff; border: none; padding: 0in; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
				<FONT COLOR="#434343"><FONT FACE="Poppins-regular"><SPAN STYLE="background: #ffffff">Una
				vez que hayas instalado la aplicación y tengas a mano las
				tarjetas, comienza a observar los diferentes huesos a través de
				la cámara de tu dispositivo móvil. Comienza enfocando el tórax
				y luego continúa con la construcción del esqueleto. Si al
				enfocar las imágenes no se ensamblan los huesos, mueve levemente
				el dispositivo para observar las tarjetas desde otro ángulo.</SPAN></FONT></FONT></P>
			</OL>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><I><B><SPAN STYLE="background: #ffffff">NOTA</SPAN></B></I></FONT></FONT><FONT COLOR="#434343"><FONT FACE="Poppins-regular"><I><SPAN STYLE="background: #ffffff">:
La aplicación no contiene software dañino, por lo que puedes
instalarla con confianza.</SPAN></I></FONT></FONT></P>
</div>
<br>
<div class="text-center">
    <a class="btn btn-primary" style="background-color:#C844E0; border:none; margin-top: 5px;" href="https://drive.google.com/file/d/16oS-4xUDP7Ns7V6JKqZquk6W49u0o-fp/view" target="_blank">Descargar APK</a>
</div>