.buttons{
    text-align: center;
}
.btn{
    margin-left:5px; 
    margin-right:5px;
}
.activity{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .recorrido{
        width: 1024px;
        height: 640px;
    }

.videos{
    width: 700px;
    height: 500px;
}    
    
@media screen and (max-width: 600px) { 
    .recorrido { 
        width: 340px;
        height: 213px;
    }
    .videos{
        width: 350px;
        height: 250px;
        padding: 0px;
    }  
}