<div class="container text-center" *ngIf="activitySelected == null" style="padding: 0px;">   
    <embed src="https://sinc.unl.edu.ar/recorrido/recursos_hidricos/app-files/index.html" class="recorrido">
    <div class="buttons">
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <div *ngFor="let item of hidrica">
                <a class="btn btn-primary button-shadow" style="background: #2395E2; border: none;" (click)="selectedActivity(item)">{{item.nombre}}</a>
            </div>
        </div>
    </div>
</div>
<br>
<div *ngIf="activitySelected != null" class="col-12" style="padding: 0px;">
    <div style="background-color:#2395E2; height: 150px;">
        <div class="activity text-center" style="color: white;">
            <h3 class="text-title-area">{{activitySelected?.nombre}}</h3>
            <h4 class="text-center" style="margin-bottom:15px;">Recursos Hídricos</h4>
            <a href="hidricas" style="color:white;" class="text-any"><i class="fa fa-undo"></i> Volver a las actividades...</a>
        </div>
    </div>
    <br/>
    
    <div *ngIf="activitySelected?.videoUrl != null">
        <div class="col-12 text-center" style="padding: 0px;">
             <iframe [src]="videoUrl" class="videos" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 

    <br>
    <div class="col-12 text-any text-center" style="padding-right: 2rem; padding-left: 2rem;">
        <div *ngIf="activitySelected?.texto1 != null">
            <h4 class="text-title-area" style="color:#434343;">{{activitySelected?.titulo1}}</h4>
            <p> {{activitySelected?.texto1}}</p>
        </div>
        <div *ngIf="activitySelected?.texto2 != null">
            <h4 class="text-title-area" style="color:#2395E2;">Objetivos</h4>
            <p> {{activitySelected?.texto2}}</p>
        </div>
    </div>
</div>

<div *ngIf="activitySelected?.url != null">
    <div class="col-12 text-center">
         <iframe [src]="urlSafe" width="700" height="500" frameborder="0" allowfullscreen></iframe>
    </div>
</div> 
